dataclasses-json==0.6.7
decorator==5.2.1
defusedxml==0.7.1
gensim==4.3.3
groq==0.25.0
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.62
langchain-groq==0.3.2
langchain-openai==0.3.18
langsmith==0.3.42
openai==1.82.0
optional==0.0.1
pydantic==2.11.5
python-dotenv==1.1.0
streamlit==1.45.1
